<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ini Edit Student</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <a href="/teacher"><button>Teacher</button></a>
    <a href="/student"><button>Student</button></a>
    <a href="/task"><button>Task</button></a>
    <% if(pesan) { %>
        <p><%= pesan %></p>
    <%}%>
    <form action="/student/edit/<%= data.id %>" method="POST">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname" value="<%= data.firstname%>">

    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname" value="<%= data.lastname %>">
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= data.email%>">
    
    <label for="phone">phone</label>
    <input type="number" name="phone" id="phone" value="<%= data.phone%>">

    <button type="submit">Submit</button>
    </form>
</body>
</html>